@import url(./base.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
html {
  background-color: #111;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 600;
  scroll-behavior: smooth; }

header {
  margin-top: 100px;
  font-size: 45px;
  height: 165px;
  font-weight: 700; }

.green-triangle {
  background: url("src/assets/images/green-ellipse.svg") no-repeat center;
  height: 150px;
  width: 100%;
  margin: auto;
  border: solid #111;
  margin-top: 75px;
  padding-left: 8px;
  text-indent: -6px; }

.green-text-1 {
  margin-top: 36px;
  font-size: 30px;
  font-weight: 600; }

.green-text-2 {
  margin-top: -5px;
  font-size: 14px;
  font-weight: 600; }

.green-text-3 {
  margin-top: 38px;
  font-size: 17px;
  font-weight: 600; }

.green-text-4 {
  font-size: 27px; }

.purple-rectangle {
  height: 113px;
  width: 217px;
  background-color: #9035FF;
  border: solid #9035FF;
  border-radius: 25px; }
  .purple-rectangle:not(:first-child) {
    margin-left: 16px; }

.flex-container {
  display: flex;
  justify-content: center; }

.purple-text {
  font-weight: 400;
  color: #DBDBDB;
  font-size: 20px;
  margin-top: 13px; }

.purple-value {
  font-size: 25px;
  font-weight: 700; }

.token-name {
  font-size: 20px; }

.fw400 {
  font-weight: 400; }

.value-usd {
  color: #DBDBDB;
  font-size: 15px;
  margin-top: -5px; }

.address-div {
  margin-top: 34px;
  height: 42px;
  width: 687px;
  border: solid 3px #9035FF;
  border-radius: 12px;
  margin: auto;
  margin-top: 34px; }

.validator {
  display: inline;
  background-color: #9035FF;
  font-size: 16px;
  border: solid 8px #9035FF;
  border-radius: 12px 0 0 12px;
  margin-left: -7px; }

.validator-address {
  width: 503px;
  height: 42px;
  margin-left: 25px;
  font-weight: 400; }

.copy-button {
  width: 30px;
  height: 33px;
  margin: 1px 0 -10.5px 15px; }
  .copy-button:hover {
    border: 2px solid #111; }

.copied {
  margin-left: 618px;
  margin-top: 12px;
  border: solid 1px #9035FF;
  border-radius: 7px;
  width: 65px; }

.grey-rectangle {
  width: 217px;
  height: 75px;
  border: solid 2px #6B6B6B;
  border-radius: 10px;
  margin-top: 34px;
  padding-top: 12px;
  padding-left: 15px;
  background-color: #1B1B1B; }
  .grey-rectangle:not(:first-child) {
    margin-left: 16px; }

.grey-img {
  display: flex; }

.grey-text {
  margin-top: -48px;
  margin-left: 36px; }

.grey-value {
  margin-left: 36px;
  font-size: 20px; }

.fee {
  padding-top: 4px; }

.vote {
  padding-top: 2px; }

.people {
  margin-top: -2px; }

.delegate-button {
  width: 313px;
  height: 91px;
  background-color: rgba(101, 255, 135, 0.71);
  font-size: 32px;
  border-radius: 8px;
  text-align: center;
  margin: auto;
  margin-top: 70px;
  padding-top: 19px;
  font-weight: 500;
  transition: #111 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  color: white;
  text-decoration: none; }
  .delegate-button.delegate-button:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.4); }

a:-webkit-any-link {
  text-decoration: none;
  color: white; }

/*# sourceMappingURL=main.css.map */
