@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$background-color: #111;
$purple: #9035FF;
$grey1: #6B6B6B;
$blackgrey: #1B1B1B;
$green: rgba(101, 255, 135, 0.71);

html {
  background-color: $background-color;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 600;
}


header {
  margin-top: 100px;
  font-size: 45px;
  height: 165px;
  font-weight: 700;
}


.green-triangle{
  background: url('src/assets/images/green-ellipse.svg') no-repeat center;
  height: 150px;
  width:100%;
  margin: auto;
  border: solid $background-color;
  margin-top: 75px;
  padding-left: 8px;
}

.green-text-1{
  margin-top: 30px;
  font-size: 36px;
  font-weight: 700;
}

.green-text-2{
  margin-top: -5px;
  font-size: 14px;
  font-weight: 700;
}

.purple-rectangle{
    height: 113px;
    width: 217px;
    background-color: $purple;
    border: solid $purple;
    border-radius: 25px;

    &:not(:first-child) {
        margin-left: 16px;
  }
}

.flex-container{
    display: flex;
    justify-content: center;
}

.purple-text{
    font-weight: 400;
    color: #DBDBDB;
    font-size: 20px;
    margin-top: 13px;
}

.purple-value{
    font-size: 25px;
    font-weight: 700;
}

.token-name{
    font-size: 20px;
}

.fw400{
    font-weight: 400;
}

.value-usd{
    color:#DBDBDB;
    font-size: 15px;
    margin-top: -5px;
}

.validator{
    display: inline-block;
    border: solid 3px $purple;
    border-radius: 12px 0 0 12px;
    height: 42px;
    width: 184px;
    margin-top: 34px;
    background-color: $purple;
    padding-top: 5px;
    font-size: 16px;
}

.validator-address{
    display: inline-block;
    border: solid 3px $purple;
    width: 503px;
    height: 42px;
    border-radius: 0 12px 12px 0;
    text-indent: 20px;
    font-weight: 400;
    
}

.copy-button{
  width: 30px;
  height: 33px;
  margin: 1px 0 -10.5px 20px;
}

.grey-rectangle{
  width: 217px;
  height: 75px;
  border: solid 2px $grey1;
  border-radius: 10px;
  margin-top: 34px;
  padding-top: 12px;
  padding-left: 15px;
  background-color: $blackgrey;

  &:not(:first-child) {
    margin-left: 16px;
  }
}

.grey-img{
  display: flex;
}

.grey-text{
  margin-top: -48px;
  margin-left: 36px;
}

.grey-value{
  margin-left: 36px;
  font-size: 20px;
}

.fee{
  padding-top: 4px;
}

.vote{
  padding-top: 2px;
}

.people{
  margin-top: -2px;
}

.delegate-button{
  width: 313px;
  height: 91px;
  background-color: $green;
  font-size: 32px;
  border-radius: 8px;
  text-align: center;
  margin: auto;
  margin-top: 70px;
  padding-top: 19px;
  
}